<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Sample App</title>
    <script data-th-src="@{/application.js}" defer="defer" type="text/javascript"></script>
    <script data-th-src="${unbluServerUrl} + ${unbluEntryPath} + '/js-api/v2/visitor/visitor-api.min.js'" defer="defer"
            type="text/javascript"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <h1 class="mt-5">Sample App</h1>

    <div class="row mb-12">
        <p id="authentication"></p>
    </div>

    <form action="" id="sign-in-form" onsubmit="return false;">
        <fieldset>
            <legend>Sign In</legend>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="username">Username</label>
                <div class="col-sm-10">
                    <input class="form-control" id="username" type="text" value="pmuster"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="email">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" id="email" type="text" value="peter.muster@example.com"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="firstname">Firstname</label>
                <div class="col-sm-10">
                    <input class="form-control" id="firstname" type="text" value="Peter"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="lastname">Lastname</label>
                <div class="col-sm-10">
                    <input class="form-control" id="lastname" type="text" value="Muster"/>
                </div>
            </div>

            <button class="btn btn-primary" id="login">Submit</button>
        </fieldset>
    </form>

    <form action="" id="sign-out-form" onsubmit="return false;">
        <button class="btn btn-primary" id="client-logout">Client logout</button>
        <button class="btn btn-primary" id="server-logout">Server logout</button>
    </form>

</div>


<span id="login-result"></span>

<script data-th-inline="javascript">

window.onload = async function WindowLoad(event) {
    var unbluServerUrl = [[${unbluServerUrl}]];
    var unbluEntryPath = [[${unbluEntryPath}]];
    var unbluApiKey = [[${unbluApiKey}]];

    var sampleApp = new SampleApp(unbluServerUrl, unbluEntryPath, unbluApiKey);
    sampleApp.init();

    document.getElementById('login').addEventListener("click", sampleApp.login.bind(sampleApp));
    document.getElementById('client-logout').addEventListener("click", sampleApp.clientLogout.bind(sampleApp));
    document.getElementById('server-logout').addEventListener("click", sampleApp.serverLogout.bind(sampleApp));
}

</script>

</body>
</html>